<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Puerto Aereo</title>
    <link rel="stylesheet" href="../css/StyleFormulario.css">
</head>
<body>

    <main>
    <aside class="content-left">
        <article class="content-container-left">
            <h1>
                Regístrate ahora, acumulando millas y obteniendo super descuentos
            </h1>
        </article>
    </aside>

    <aside class="content-right">
        <article class="content-container-right">
                <form action="">
                    <h2>Suscríbete</h2>
                    <label for="info-user">Ingresa tu nombre</label>
                    <input type="text" id="info-user-name" class="info-user">

                    <label for="info-user">Ingresa tu Correo</label>
                    <input type="email" id="info-user-email" class="info-user">

                    <label for="info-user">Ingresa tu Contraseña</label>
                    <input type="password" id="info-user-password" class="info-user">
                    <div class="gender-content">
                        <label for="gender">Genero</label>
                        <div class="gender-selected">
                            <input type="radio" id="gender-male" name="gender" value="male">
                            <label for="gender-male">Masculino</label>
                            
                            <input type="radio" id="gender-female" name="gender" value="female">
                            <label for="gender-female">Femenino</label>
                        </div>
                    </div>
                    <div class="policy">
                        <span>Política y privacidad</span>
                        <span>términos y condiciones</span>
                    </div>
                    <button type="submit" class="login">Registrarse</button>
                </form>
        </article>
    </aside>
</main>
</body>
</html>