<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href='../css/Decoracion.css' />
    <meta charset="UTF-8" />
    <title>Puerto Aereo</title>
    <link rel="stylesheet" href="css/Decoracion.css" />
  </head>
  <body onload="carrusel();">
    <!-- Navegacion principal -->
    <!-- Barra de menu -->
    <header class="header">
      <img class="logo-main" src='../img/logo.png' />
      <nav class="nav-main">
        <ul class="menu-selection">
          <li class="item-menu"><a href="#paises">Viaja ahora!</a></li>
          <li class="item-menu"><a href="#populares">Populares</a></li>
          <li class="item-menu"><a href="#hospedaje">Hospedaje</a></li>
          <li class="item-menu"><a href="Formulario.html">Inscribete</a></li>
        </ul>
        <button type="button"><a href="#conocenos"></a> Conocenos</button>
      </nav>
    </header>

    <!-- Informacion de publicidad - portada-->
    <!-- Contenido del cuerpo -->
    <figure class="portada">
        <img class="img-portada" src='../img/portada1.jpg' alt="portadas" id="portada-img">
    </figure>

    <!-- Main  -->
    <!-- Selecion de destinos comunes -->
    <main id="paises" class="content-main">
      <!-- Información de las ciudades -->
      <section class="price-city" >
          <h2>Descubre tu próximo viaje</h2>
          <p>Acumula Tus Millas y Puntos</p>
        <article class="article-1">
          <div class="contain-img">
            <figure class="item-country">
                <img src='../img/alemania.jpg' alt="">
                <figcaption class="figcaption-country">Alemania
                    <p>Precio final desde</p>
                    <h2>USD 1000.56
                      <br>
                        PEN 3,789.62</h2>
                        <span> Tasas incluidas</span>
                </figcaption>
            </figure>
            <figure class="item-country">
                <img src='../img/italia.jpg' alt="">
                <figcaption class="figcaption-country">Italia
                    <p>Precio final desde</p>
                    <h2>USD 1000.56
                        <br>
                        PEN 3,789.62</h2>                       
                        <span> Tasas incluidas</span>
                </figcaption>
            </figure>
            <figure class="item-country">
                <img src='../img/mexico.jpg' alt="">
                <figcaption class="figcaption-country">Mexico
                    <p>Precio final desde</p>
                    <h2>USD 350.56
                        <br>
                        PEN 1,325.62</h2>
                        <span> Tasas incluidas</span>
                </figcaption>
            </figure>
            <figure class="item-country">
                <img src='../img/miami.jpg' alt="">
                <figcaption class="figcaption-country">Miami
                    <p>Precio final desde</p>
                    <h2>USD 500.56
                        <br>
                        PEN 1,912.14</h2>                      
                        <span> Tasas incluidas</span>
                </figcaption>
            </figure>
            <figure class="item-country">
              <img src='../img/chile.png' alt="chile">
              <figcaption class="figcaption-country">Santiago de Chile
                  <p>Precio final desde</p>
                  <h2>USD 120.56
                    <br>
                      PEN 452.62</h2>
                      <span> Tasas incluidas</span>
              </figcaption>
          </figure>
          <figure class="item-country">
            <img src='../img/españa.png' alt="españa">
            <figcaption class="figcaption-country">España
                <p>Precio final desde</p>
                <h2>USD 500.32
                  <br>
                    PEN 1,879.04</h2>
                    <span> Tasas incluidas</span>
            </figcaption>
        </figure>
        <figure class="item-country">
          <img src='../img/canada.png' alt="canada">
          <figcaption class="figcaption-country">Canada
              <p>Precio final desde</p>
              <h2>USD 1200.86
                <br>
                  PEN 4,510.05</h2>
                  <span> Tasas incluidas</span>
          </figcaption>
      </figure>
      <figure class="item-country">
        <img src='../img/amsterdam.png' alt="amsterdam">
        <figcaption class="figcaption-country">Amsterdam
            <p>Precio final desde</p>
            <h2>USD 2500.00
              <br>
                PEN 9,389.21</h2>
                <span> Tasas incluidas</span>
        </figcaption>
    </figure>
          </div>
      </section>

      <!-- Sección de lugares mas populares -->
      <section id="populares" class="populares-top">
        <h2>Top de ranking más populares.</h2>
        <article class="article-2">
            <div class="contain-popular">
                <figure class="item-popular">
                    <img src='../img/cusco.jpg' alt="cusco">
                </figure>
                <figure class="item-popular">
                    <img src='../img/brazil.jpg' alt="brazil">
                </figure>
                <figure class="item-popular">
                    <img src='../img/colombia.jpg' alt="colombia">
                </figure>
                <figure class="item-popular">
                    <img src='../img/australia.jpg' alt="australia">
                </figure>
              </div>
        </article>
      </section>

      <!-- Departamentos -->
      <section class="content-accommodation" id="hospedaje">
        <h2>Reserva hoy tu alojamiento</h2>
        <div class="view-hotels-content">
          <article class="hotels-reserve">
            <figure class="content-img-hotel">
              <img class="accommodation-img" src="../img/the-meridian-hotel.jpg" alt="the-meridian-hotel">
            </figure>
            <div class="content-info-hotels">
              <div class="info-city-hotels">
                <p class="city-info-hotels">Miami Beach, Estados Unidos</p>
              <div class="info-title-hotels">
                <h3 class="title-info-hotels">The Meridian Hotel</h3>
              </div>
              <div class="info-qualification-hotels">
                <span class="qualification-info-hotels">
                    <span class="qualification-hotels">
                        5.0
                    </span>
                </span>
                <span class="info-hotels-content"> Buen Servicio</span>
              </div>
              <div class="info-prices-hotels">
                <span class="info-hotels-content">
                  Precio final
                </span>
                <div class="info-usd-price">
                    <span class="usd">USD</span>
                    <span class="price">186.00</span>
                </div>
                <div class="info-usd-price">
                  <span class="usd">PEN </span>
                  <span class="price">687.38  </span>
                </div>
                <div class="info-prices-hotels">
                  <span class="info-hotels-content"> 7 noches para 2 adultos</span>
                </div>
              </div>
              </div>
            </div>
          </article>
          <article class="hotels-reserve">
            <figure class="content-img-hotel">
              <img class="accommodation-img" src="../img/the-hotel-acapulco.jpg" alt="the-hotel-acapulco">  
            </figure>
            <div class="content-info-hotels">
              <div class="info-city-hotels">
                <p class="city-info-hotels">Hotel en Costera de Acapulco, Acapulco</p>
              <div class="info-title-hotels">
                <h3 class="title-info-hotels">We Hotel Acapulco</h3>
              </div>
              <div class="info-qualification-hotels">
                <span class="qualification-info-hotels">
                    <span class="qualification-hotels">
                        8.4
                    </span>
                </span>
                <span class="info-hotels-content"> Buen Servicio</span>
              </div>
              <div class="info-prices-hotels">
                <span class="info-hotels-content">
                  Precio final
                </span>
                <div class="info-usd-price">
                    <span class="usd">USD</span>
                    <span class="price">81.14</span>
                </div>
                <div class="info-usd-price">
                  <span class="usd">PEN </span>
                  <span class="price">300.00 </span>
                </div>
                <div class="info-prices-hotels">
                  <span class="info-hotels-content"> 7 noches para 2 adultos</span>
                </div>
              </div>
              </div>
            </div>
          </article>
        </div>
      </section>

    </main>
      <!-- Video -->
      <article class="content-video">
        <video src='../videos/latam-video.mp4' autoplay playsinline controls ></video>
      </article>
    

      <!-- Acerca de. -->
      <div class="content-collaboration" id="conocenos">
        <div class="title-collaboration">
          <h2 >Colaboración</h2>
        </div>
        <div class="position-card-content">
          <div id="card-maicol" class="id-card-collaboration">
      <figure>
          <img src="../img/cibertec.png" alt="cibertec">
            <figcaption class="description-student">
              <h3>Michel Angelo Torres Landeo</h3>
              <br>
              <h4>Carrera</h4>
              <h4>Computación e Informatica</h4>
              <br>
              <h4>Codigo:</h4>
              <span>i101020647</span>
              
            </figcaption>
            <div class="icon-redes">
              <img src="../img/facebook.png" alt="facebook">
              <img src="../img/instagram.png" alt="instagram">
              <img src="../img/linkedin.png" alt="linkedin">
            </div>
      </figure>
      </div>
        </div>
      </div>
      
        
    <footer class="derechos-autor">
      <p>
        Derechos de autor &copy; 2022 | Mapa interactivo de ciudades históricas
        de Perú
      </p>
    </footer>


  </body>
</html>

<script src="../js/scrip.js"></script>